AUASource/.vs
AUASource/AUA.ProjectName.WebApi/obj
AUASource/AUA.ProjectName.WebApi/bin
AUASource/AUA.ProjectName.ValidationServices/obj
AUASource/AUA.ProjectName.ValidationServices/bin
AUASource/AUA.ProjectName.Tests/obj
AUASource/AUA.ProjectName.Services/obj
AUASource/AUA.ProjectName.Tests/bin
AUASource/AUA.ProjectName.Services/bin
AUASource/AUA.ProjectName.Models/obj
AUASource/AUA.ProjectName.Models/bin
AUASource/AUA.ProjectName.ManualMapping/obj
AUASource/AUA.ProjectName.ManualMapping/bin
AUASource/AUA.ProjectName.InMemoryServices/obj
AUASource/AUA.ProjectName.InMemoryServices/bin
AUASource/AUA.ProjectName.DomainEntities/obj
AUASource/AUA.ProjectName.DomainEntities/bin
AUASource/AUA.ProjectName.DataLayer/obj
AUASource/AUA.ProjectName.DataLayer/bin
AUASource/AUA.ProjectName.Common/obj
AUASource/AUA.ProjectName.Common/bin
